.page3 {
    margin: 0 10em;
}

.page3-title {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A19;
}

.timeline-box {
    display: flex;
    flex-wrap: wrap;
}

.timeline-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 50%;
    max-width: 50%;
    border: 1em solid #F9F8F4;
    padding: 5em 0;

    font-family: 'Noto Sans Thai Looped', sans-serif;
    text-transform: capitalize;
}

.timeline-column img {
    width: calc(100% - 5em);
}   

.timeline-column ul,
li {
    font-size: 11px;
}