.page3 {
    margin: 0 10em;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}

.experience-title-box {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    color: #DFDFD9;
}

.experience-title-column {
    width: auto;
    text-align: center;
}

.experience-box {
    display: flex;
    flex-wrap: wrap;
}

.experience-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
    max-width: 50%;
    height: 300px;
    border: 15px solid #1A1A19;
}

.experience-column-text {
    text-transform: capitalize;
    font-size: 10px;
    align-items: flex-start;
    width: auto;
    text-align: center;
    color: #DFDFD9;
}

.experience-column img {
    max-width: 60%;
}

.experience-column-text ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align items to the start of the container */
    align-items: flex-start;
    /* Align items to the top of the container */
    list-style: none;
    /* Remove default list styles */
    padding: 1em 0;
    /* Remove default padding */
}

.experience-column-text li {
    margin-right: 1em;
    /* Add spacing between list items */
}


.experience-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%);
    width: 5px;
    height: 90%;
    margin: 1em 0;
    background: #FFBD20;
    border-radius: 25px;
}

/* Update the CSS for mobile view */
@media only screen and (max-width: 768px) {
    .page3 {
        margin: 0;
    }

    .experience-line {
        width: 2.5px;
        height: 90%;
    }

    .experience-column-text {
        font-size: 7px;
        /* Set a minimum font size */
        height: auto;
        /* Allow height to adjust based on content */
    }

}