.page2 {
    margin: 0 10em;
    padding: 1em 0;
    overflow-x: hidden;
}

.text-box {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    color: #1A1A19;
}

.text-column {
    width: auto;
    text-align: center;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
}

.skill-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 25%;
    max-width: 25%;
    height: 300px;
    background-color: #1A1A19;
    border: 5px solid #DFDFD9;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill-column img {
    max-width: 70px;
}

.skill-column h2 {
    color: #DFDFD9;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    margin: 3px;
    background-color: #DFDFD9;
    color: #1A1A19;
    border-radius: 0.5em;
}

.skill-container h3 {
    font-size: smaller;
}

.skill-image {
    width: 30px;
    height: 30px;
    opacity: 1;
}

.skills {
    font-size: medium;
}

@media only screen and (max-width: 991px) {
    .page2 {
        margin: 0;
    }

    .skill-column {
        flex: 50%;
        max-width: 50%;
        height: 260px;
    }

    .skill-container h3 {
        font-size: xx-small;
        padding: 0 2px;
    }
}