*{
    font-family: 'Noto Sans Thai Looped', sans-serif;
}

.page-one {
    width: 100%;
    height: 100vh;
    background-color: #1A1A19;
}

.page-two {
    width: 100%;
    background-color: #DFDFD9; 
}

.page-three {
    width: 100%;
    height: calc(100vh + 155vh);
    background-color: #F9F8F4; 
}

.page-four {
    width: 100%;
    height: 100vh;
    background-color: turquoise; 
}